h1,
h2,
h3,
h4,
h5,
h6,
p,
label{
    color: chocolate;
}
td,
th{
    color: rgb(9, 3, 63);
}
#footer{
    background-color: rgb(9, 3, 63);
}
.form{
    background-color: rgb(0,0,0, 0.2);
    padding: 5%;
    border: 2px solid black;
    border-radius: 5px;
}
.collapse,
.navbar{
    background-color: #5091DD;
}
body {
    height: 100%;
    background: radial-gradient( #5091DD 0%, #030617 100%);
  }
  
.table{
    background-color: rgb(23, 204, 228);
}
.group_card{
    margin: 2%;
    width: 20rem;
}
.table:hover,
.group_card:hover{
    transition: transform .5s;
    transform: scale(1.05); 
    -webkit-box-shadow: 0px 0px 68px 86px rgba(31,186,155,1);
    -moz-box-shadow: 0px 0px 68px 86px rgba(31,186,155,1);
    box-shadow: 0px 0px 68px 86px rgba(31,186,155,1);
    z-index: 100;
}
.group_card:hover a{
    text-decoration: none;
}
.container{
    margin-top:5rem;
    margin-bottom:5rem;
}
marquee{
    font-family:'Consolas';
    text-transform: uppercase;
}